.MuiGrid-container.forecast-container {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 960px) {
    .MuiGrid-container.forecast-container {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
  }